@import './css/variables.css';
@import './css/transitions.css';
@import './css/general.css';
@import './css/inputs.css';
@import './css/buttons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'DM Sans', sans-serif;
    vertical-align: baseline;
}

body {
    @apply relative overflow-x-hidden leading-none antialiased;
}

html,
body {
    @apply m-0 min-h-[600px] w-screen p-0;
}

b,
strong {
    @apply font-bold;
}

header {
    @apply block w-full;
}

* {
    @apply outline-theme-primary-600;
}

*:focus-visible:not(input, textarea) {
    @apply outline outline-2 outline-theme-primary-600;
    transition: outline-width 0s !important;
}

#extension-root {
    @apply h-full;
}

.input-correct {
    border: 1px solid green !important;
}

.input-incorrect {
    border: 1px solid red !important;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.splash-screen-icon {
    animation: fadeOut 0.4s ease-in-out 1s forwards;
}

.dropdown-body {
    @apply invisible translate-y-[-10px] opacity-0 transition-transform duration-200 ease-in-out;
}

.dropdown-transition {
    @apply invisible translate-y-0 opacity-100;
}

#scrollable-container {
    @apply max-w-screen h-screen w-screen overflow-y-auto overflow-x-hidden;
}

.main-container {
    @apply w-screen;
}

.dialog-wrapper {
    @apply max-w-screen;
}

.tippy-box[data-theme*='ark'] {
    @apply rounded-lg;
}

.tippy-box[data-theme*='ark'] .tippy-content {
    @apply px-2 py-3;
}

.tippy-box[data-theme~='ark-light'] {
    @apply bg-subtle-black text-white;
}

.tippy-box[data-theme~='ark-dark'] {
    @apply bg-white text-subtle-black;
}

.tippy-box[data-theme~='ark-light'] .tippy-svg-arrow {
    @apply fill-subtle-black;
}

.tippy-box[data-theme~='ark-dark'] .tippy-svg-arrow {
    @apply fill-white;
}

.globeIcon.dark circle {
    stroke: #3b3b3b;
}

.dialog-bg .globeIcon.dark circle {
    stroke: #2e2e2e;
}

@-moz-document url-prefix() {
    .custom-scroll {
        scrollbar-width: thin;
        scrollbar-color: #058751 transparent;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
        @apply bg-theme-primary-700;
    }

    .custom-scroll::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
}

.custom-scroll::-webkit-scrollbar {
    @apply w-1;
}

.custom-scroll::-webkit-scrollbar-thumb {
    @apply rounded-[50px] bg-theme-primary-700;
}
